*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    scroll-behavior:smooth;
}

body{
    background:#f5f5f5;
}

/* NAVBAR */
header{
    background:#222;
    padding:15px 50px;
    position:sticky;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

nav ul li a:hover{
    color:#00adb5;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#00adb5,#393e46);
    color:white;
}

.hero h1{
    font-size:55px;
}

.hero span{
    color:yellow;
}

.hero h2{
    margin:10px 0;
}

/* SECTIONS */
section{
    padding:60px 10%;
}

section h2{
    text-align:center;
    margin-bottom:20px;
}

/* SKILLS */
.skill{
    background:#00adb5;
    color:white;
    padding:12px;
    margin:10px 0;
    border-radius:8px;
}

/* CARDS */
.card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

/* BUTTON */
.btn{
    background:linear-gradient(135deg,#00adb5,#007bff);
    color:white;
    padding:12px 25px;
    border-radius:25px;
    text-decoration:none;
    display:inline-block;
    transition:0.3s;
    font-weight:bold;
    margin-top:10px;
}

.btn:hover{
    transform:scale(1.05);
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* CONTACT */
#contact{
    text-align:center;
}

/* FOOTER */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}